{% extends "codebin/base.html" %}
{% block title %} Snippet {% endblock %}
{% block head %}
    {{ block.super }}
    <style>
        .pre-scrollable {min-height: 10em;}
    </style>
{% endblock %}
{% block content %}
    <div>
        <h3>
            {{ snippet.title }}

            <small>
                {% if snippet.private != snippet.PUBLIC %}
                    <span class="label label-default">{{ snippet.get_private_display }}</span>
                {% endif %}
                {% if snippet.author == user %}
                    <a href="{% url 'snippet_edit' base58=snippet.base58 %}">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                {% endif %}

            </small>

        </h3>
        <p>created: {{ snippet.created_date }}</p>
        <p>created by: {% if snippet.author %} {{ snippet.author }} {% else %} Anonymous user {% endif %}</p>
        <p>filename: {{ snippet.file_name }}
        <pre class="pre-scrollable">{{ snippet.content }}</pre>
    </div>
{% endblock %}