{% extends 'codebin/base.html' %}
{% block title %}New snippet{% endblock %}
{% block head %}
    {{ block.super }}
    {% load recaptcha2 %}
    {% recaptcha_init 'en' %}
{% endblock %}

{% load bootstrap %}


{% block content %}
    <h1>New snippet</h1>
    <form method="POST" class="post-form">
        {% csrf_token %}

        {{ form.title|bootstrap}}
        {{ form.file_name|bootstrap }}
        {{ form.content|bootstrap }}
        {% if user.is_authenticated %}
            {{ form.private|bootstrap }}
        {% endif %}
{#        {{ form.captcha|bootstrap }}#}

        <button type="submit" class="save btn btn-default">Submit</button>
    </form>
{% endblock %}